<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amazingrobot.robot"
    android:versionCode="1"
    android:versionName="2
    .0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:icon="@drawable/normal"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.amazingrobot.robot.setNameActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.amazingrobot.robot.SecondActivity" >
        </activity>

        <activity android:name="com.amazingrobot.robot.MainActivity" >
        </activity>

    </application>

</manifest>